label, input{
    display: flex;
    flex-direction: column;
}

.calculator-title{
    display: flex;
    justify-content: center;
}

.calculator-inputs{
    display: flex;
    justify-content: space-evenly;
    padding-top: 3vh;
}

.calculator-inputs input{
    border-radius: 25px;
    height: 3vh;
}      

.calculator-inputs label{
    display: flex;
    justify-content: center;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 1.2rem;
    font-weight: 600;
}

.calculator-button{
    display: flex;
    justify-content: center;
    padding-top: 4vh;
}

.calculator-button button{
    border-radius: 10px;
    height: 4vh;
    font-size: large;
    color: white;
    background: #267bc6;
}

.calculator-ergebnis{
    display: flex;
    background-color: #fde784;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 25px;
    margin-top: 2vh;
}

.calculator-ergebnis p{
    font-size: larger;
    font-weight: 900;
    color: #6EB636;
}