label, input{
    display: flex;
    flex-direction: column;
}

.calculator-title{
    display: flex;
    justify-content: center;
}

.calculator-inputs{
    display: flex;
    justify-content: space-evenly;
    padding-top: 3vh;
}

.calculator-inputs input{
    border-radius: 10px;
    height: 3vh;
}      

.calculator-button{
    display: flex;
    justify-content: center;
    padding-top: 4vh;
}

.calculator-button button{
    border-radius: 10px;
    height: 4vh;
    font-size: large;
    color: white;
    background: #267bc6;
}

.calculator-ergebnis{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.calculator-ergebnis p{
    font-size: larger;
    font-weight: 900;
    color: #6EB636;
}