.teamsektion{
    background-color: #267BC6;
}

.teamtitle{
    display: flex;
    justify-content: center;
    color: white;
    font-size: larger;
}
.team-container{
    display: flex;
    justify-content: space-evenly; 
    gap: 4rem; 
}
.teamcard-container{
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 2px solid grey;
    border-radius: 25px;
    box-shadow: 0px 1px 10px 2px gray;
    width: 50%;
    margin-bottom: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.teamcard-img img{
    border-radius: 50%;
    border: 5px solid #FCD112;
    max-height: 250px; 
    margin-top: 2rem;
}

.teamcard-text{
    font-size: large;
    font-weight: 700;
}

.teamcard-name{
    color: white;
}