.font-link{
    font-family: "Montserrat", sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}

h1, h2, h3, h4, h5, p, label, button, ul, input {
    font-family: "Montserrat", sans-serif;
}

ul {
    list-style: none;
}

.footer-navbar {
    box-shadow: 0px -2px 5px grey;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    font-family: "Montserrat", sans-serif;
}

.nav-footer-links {
    list-style: none;
    display: flex;
    padding-right: 2rem;
    justify-content: flex-end;
}

.nav-footer-item {
    padding: 1rem 1rem;
}

.footerLogo {
    max-width: 100px;
    padding-left: 12rem;
}

.header-navbar {
    box-shadow: 0px 2px 5px grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    font-family: "Montserrat", sans-serif;
}

.header-navbar button{
    border-radius: 10px;
    height: 3rem;
    width: 6rem;
    font-size: 1.2rem;
    background: #267bc6;
    color: white;
    border: none;
    font-family: "Montserrat", sans-serif;
    margin-right: 2rem;
}

a:link, a:visited{
    text-decoration: none;
    color: white;
}

.nav-header-links {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-left: 30rem; 
}

.nav-header-item {
    padding: 1rem 1rem;
    margin-right: 15px;
}

.headerLogo {
    max-width: 100px;
    padding-left: 12rem;
}